body {
    font-family: 'Roboto', sans-serif;
}

.header, .hero, .footer {
    background-color: #1f2937;
}

.header {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

button, .cta-container {
    background-color: #3882F6;
    color: #F9FAF8;
}

.info {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.footer {
    color: #F9FAF8;
}