*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
}

.header {
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 16px 148px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    display: flex;
    padding: 0 148px;
    gap: 24px;
}

.left-hero,
.right-hero {
    flex: 1;
    padding: 100px 0;
}

.left-hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

button,
.cta-banner {
    background-color: #3882F6;
    color: #F9FAF8;
}

.left-hero>button {
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
}

.info {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    padding: 36px 0px;
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 36px;
    padding: 36px 0px;
}

.info-box {
    font-size: 12px;
}

.info-box-img {
    height: 125px;
    width: 125px;
    border: 3px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.info-box:nth-child(even) img {
    align-self: center;
}

.quote {
    background-color: #E5E7EB;
    padding: 124px 184px;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    text-align: right;
    font-weight: 900;
}

.cta-banner {
    margin: 64px 148px;
    padding: 36px 72px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.cta-main-text {
    font-size: 20px;
    font-weight: 700;
}

.cta-sub-text {
    font-size: 12px;
}

.cta-banner button {
    border: solid #E5E7EB;
    border-radius: 8px;
    padding: 0px 24px;
}

.footer {
    color: #F9FAF8;
    text-align: center;
    padding: 24px 0px;
}